<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eathemeat.media">

    <application>
        <activity
            android:name=".MediaPlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="@string/title_activity_media_player"
            android:theme="@style/Theme.MyApplication.Fullscreen" />
    </application>

</manifest>